- current = current_page?(slug_entry_path(feed, entry)) || current_page?(slug_entry_path(feed, 'current'))
.entry
  .title
    - if current
      = entry.event_at
      = entry.event_at.yday
      = "(JD#{entry.event_at.yday})"
    - else
      = link_to slug_entry_path(feed, entry) do
        = entry.event_at
        = "(JD#{entry.event_at.yday})"
  .ago
    Processed
    = time_ago_in_words(entry.event_at)
    ago
  .contents
    = render :partial => entry.category, :locals => { :feed => feed, :entry => entry }
