%h4 Feeds List
%ul.feeds.nav.nav-list
  - Feed.order('slug ASC').all.each do |feed|
    - next if feed.entries.count == 0
    %li.nav-header{ "data-toggle" => "collapse", "data-target" => "##{feed.slug}_menu"}
      %i.collapse-status{ class: current_feed?(feed) ? 'icon-minus' : 'icon-plus' }
      = feed.title
    %ul.nav.nav-list.menu{id:"#{feed.slug}_menu", class: (current_feed?(feed) ? '' : ' collapse')}
      %li
        /{ :class => all_images_active_class(feed.slug) }
        = link_to slug_path(feed) do
          %i.icon-eye-open
          All Images
      %li
        /{ :class => current_image_active_class(feed.slug)  }
        = link_to slug_entry_path(feed, 'current') do
          %i.icon-picture
          Current Image 
      - first_date = feed.entries.order('event_at ASC').first.event_at.to_date
      - date = feed.entries.order('event_at DESC').first.event_at.to_date.end_of_month
      %li.by_month{ "data-toggle" => "collapse", "data-target" => "##{feed.slug}_by_date" }
        %i.icon-list
        Images By Month
      %ul.nav.nav-list{id: "#{feed.slug}_by_date", class: collapse_current_slug_without_date(feed.slug)}
        - while(date >= first_date.beginning_of_month)
          - date_str = date.strftime('%Y-%m')
          %li
            /{ class: month_images_active_class(feed.slug, date_str) }
            = link_to date_str, slug_path(feed, date: date_str)
          - date = date >> -1
      - if feed.animate
        %li
          = link_to slug_movies_path(feed) do
            %i.icon-film
            Animations

:javascript
  $('ul.feeds > ul.menu').on('show', function(e) {
    var p = $('li[data-target="#'+$(e.target).attr('id')+'"] i.collapse-status');
    p.removeClass('icon-plus').addClass('icon-minus');
  });
  $('ul.feeds > ul.menu').on('hide', function(e) {
    var p = $('li[data-target="#'+$(e.target).attr('id')+'"] i.collapse-status');
    p.removeClass('icon-minus').addClass('icon-plus');
  });  