.title
  = link_to entry_link do
    = entry.event_at.utc.strftime('%Y-%m-%d %H:%M %Z')
    = "(JD#{entry.event_at.yday})"    
.image
  = link_to entry_link do
    = image_tag(cw_image_url(image_url), alt: entry.title)