%h3= @feed.title
%ul.nav.nav-list.well
  %li
    = link_to root_path do
      %i.icon-home
      Home
  %li
    /{ :class => all_images_active_class(feed.slug) }
    = link_to slug_path(@feed) do
      %i.icon-eye-open
      All Images
  %li
    /{ :class => current_image_active_class(feed.slug)  }
    = link_to slug_entry_path(@feed, 'current') do
      %i.icon-picture
      Current Image 
  - first_date = @feed.entries.order('event_at ASC').first.event_at.to_date
  - date = @feed.entries.order('event_at DESC').first.event_at.to_date.end_of_month
  %li.by_month{ "data-toggle" => "collapse", "data-target" => "#by_date" }
    %i.icon-list
    Images By Month
  %ul#by_date.nav.nav-list{ class: collapse_current_slug_without_date(@feed.slug) }
    - while(date >= first_date.beginning_of_month)
      - date_str = date.strftime('%Y-%m')
      %li
        /{ class: month_images_active_class(feed.slug, date_str) }
        = link_to date_str, slug_path(@feed, date: date_str)
      - date = date >> -1
  - if @feed.animate
    %li
      = link_to slug_movies_path(@feed) do
        %i.icon-film
        Animations
  %li
    - if current_page?(slug_entry_path(@feed, 'current'))
      = link_to slug_entry_path(@feed, 'current', :xml), 'data-skip-pjax' => true do
        %i.icon-rss
        RSS Feed
    - else
      = link_to slug_path(@feed, :xml), 'data-skip-pjax' => true do
        %i.icon-rss
        RSS Feed