%ul.nav.feed-picker
  %li
    = link_to root_path do
      %i.icon-home
      Home
  %li
    /{ :class => all_images_active_class(feed.slug) }
    = link_to slug_path(@feed) do
      %i.icon-eye-open
      All images
  %li
    /{ :class => current_image_active_class(feed.slug)  }
    = link_to slug_entry_path(@feed, 'current') do
      %i.icon-picture
      Current image 
  - first_date = @feed.entries.last.event_at.to_date
  - date = @feed.entries.first.event_at.to_date.end_of_month
  %li.by_month{ "data-toggle" => "collapse", "data-target" => "#by_date" }
    .item
      %i.icon-list
      Images by month
  %ul#by_date.nav.submenu{ class: collapse_current_slug_without_date(@feed.slug) }
    - while(date >= first_date.beginning_of_month)
      - date_str = date.strftime('%Y-%m')
      %li
        = link_to slug_path(@feed, date: date_str) do
          = date_str
          %i.icon-chevron-right.pull-right
      - date = date >> -1

  - if @feed.animate
    %li
      = link_to slug_movies_path(@feed) do
        %i.icon-film
        Animations
        
  - if !@entries.nil? && @entries.count == 1
    %li
      = link_to '#embed_modal', "data-toggle" => "modal", "data-skip-pjax" => true do
        %i.icon-share
        = "Share image"
        
  - if @movie
    %li
      = link_to '#embed_modal', "data-toggle" => "modal", "data-skip-pjax" => true do
        %i.icon-share
        = "Share movie"    

  - if current_page?(slug_entry_path(@feed, 'current'))
    %li
      = link_to slug_entry_path(@feed, 'current', :xml), 'data-skip-pjax' => true do
        %i.icon-rss
        RSS Feed
  - else
    %li
      = link_to slug_path(@feed, :xml), 'data-skip-pjax' => true do
        %i.icon-rss
        RSS Feed


        
- if @movie
  #embed_modal.modal.hide.fade
    .modal-header
      %button.close{type:"button", "data-dismiss" => "modal"} X
      %h3 Share animation
    .modal-body
      %h3 Link
      %textarea{rows: 2, style:"width:98%"}
        = feed_movie_url(@feed, @movie)
      
      .row-fluid.embeded
        .span12
          %h3 Embed
          %ul.nav.nav-tabs{style:"margin:0;"}
            %li.active= link_to 'Viewed animation', '#current_animation', "data-toggle"=>"tab"
            %li= link_to 'Latest Animation', '#latest_animation', "data-toggle"=>"tab"
        
          .tab-content{style:"border: 1px solid #e5e5e5; border-top: none;"}
            #current_animation.tab-pane.active
              %textarea.span12{rows: 10, style:"margin:0; border:none;"}
                = render @movie
            #latest_animation.tab-pane
              %textarea.span12{rows: 10, style:"margin:0; border:none;"}
                = render 'current', feed: @feed, movie: @movie
          
          %p Paste the above html snippet into your webpage to embed the animation
      
    .modal-footer
      = link_to 'Close', '#', class: 'btn', "data-dismiss" => "modal"
      
      
- if !@entries.nil? && @entries.count == 1
  #embed_modal.modal.hide.fade
    .modal-header
      %button.close{type:"button", "data-dismiss" => "modal"} X
      %h3 Share image
    .modal-body
      %h3 Link
      %textarea{rows: 2, style:"width:98%"}
        = current_image_url(@feed.slug, @entries.first)
    
      
      .row-fluid.embeded
        .span12
          %h3 Embed
          %ul.nav.nav-tabs{style:"margin:0;"}
            %li.active= link_to 'Viewed image', '#current_image', "data-toggle"=>"tab"
            %li= link_to 'Latest image', '#latest_image', "data-toggle"=>"tab"
        
          .tab-content{style:"border: 1px solid #e5e5e5; border-top: none;"}
            #current_image.tab-pane.active
              %textarea.span12{rows: 3, style:"margin:0; border:none;"}
                = image_tag current_image_url(@feed.slug, @entries.first), alt: "#{@feed.title} #{@entries.first.title}"
            #latest_image.tab-pane
              %textarea.span12{rows: 3, style:"margin:0; border:none;"}
                = image_tag current_image_url(@feed.slug, 'current'), alt: "Current #{@feed.title} image"
          %p Paste the above html snippet into your webpage to embed the image
          
    .modal-footer
      = link_to 'Close', '#', class: 'btn', "data-dismiss" => "modal"