.row-fluid
  .span3
    %ul.nav.nav-list.feed-picker
      %li
        = link_to root_path do
          All
          .pull-right
            %span.badge= Feed.select('feeds.title, count(*) as c').joins(:entries).group('feeds.title').having('count(*) > 0').to_a.count
            %i.icon-chevron-right
            
      - %w{ MODIS NPP Barrow Landcover Snowcover Naturalcolor Truecolor}.sort.each do |i|
        - c = Feed.select('feeds.title, count(*) as c').joins(:entries).where('feeds.title like ?', "%#{i}%").group('feeds.title').having('count(*) > 0').to_a.count
        / Feed.joins(:entries).where('feeds.title like ?', "%#{i}%").to_a.count
        - next unless c > 0
        %li
          = link_to root_path(:q => i) do
            = i
            .pull-right
              %span.badge= c
              %i.icon-chevron-right
  .span9
    .entries
      - @feeds.each do |feed|
        - next if feed.entries.count == 0
        .feed
          %h4= feed.title
          = render feed.entries.current.first, :feed => feed