- size ||= 'small'
.entry
  .title.clearfix
    = render 'entry_header', feed: feed, prev_entry: @prev_entry, entry: entry, next_entry: @next_entry, link: slug_entry_path(feed, entry)
  .contents
    = render size, :feed => feed, :entry => entry
  .ago
    Processed
    = time_ago_in_words(entry.event_at)
    ago
  .sizes.btn-group
    = link_to 'Medium', cw_image_url(entry.preview.try(:thumb, '1600x>')), class: 'btn', 'data-skip-pjax' => true
    = link_to 'Large', cw_image_url(entry.preview), class: 'btn', 'data-skip-pjax' => true
    = link_to 'Original', cw_image_url(entry.image), class: 'btn', 'data-skip-pjax' => true      

