- current = current_page?(slug_entry_path(feed, entry)) || current_page?(slug_entry_path(feed, 'current'))
.entry
  - if @prev_entry
    .pull-left.prev
      = link_to slug_entry_path(feed, @prev_entry), class: 'btn btn-large' do
        %i.icon-arrow-left
        Prev
        
  - if @next_entry
    .pull-right.next
      = link_to slug_entry_path(feed, @next_entry), class: 'btn btn-large' do
        Next
        %i.icon-arrow-right
  .title
    - if current
      = entry.event_at
      = entry.event_at.yday
      = "(JD#{entry.event_at.yday})"
    - else
      = link_to slug_entry_path(feed, entry) do
        = entry.event_at
        = "(JD#{entry.event_at.yday})"
    
  .ago
    Processed
    = time_ago_in_words(entry.event_at)
    ago
  .contents
    = render :partial => entry.category, :locals => { :feed => feed, :entry => entry }
  .sizes.btn-group
    = link_to 'Small', cw_image_url(entry.file.thumb.small), class: 'btn', 'data-skip-pjax' => true
    = link_to 'Medium', cw_image_url(entry.file.thumb), class: 'btn', 'data-skip-pjax' => true
    = link_to 'Original', cw_image_url(entry.file), class: 'btn', 'data-skip-pjax' => true      

