.row-fluid
  #sidebar.span3
    = render 'shared/sidebar'
  .span9
    %h5{style:'text-align:center;'}
      = "Curent view dates: #{current_date_range(@entries)}" if @entries.any?
    .entries.clearfix
      = render @entries, :feed => @feed
      = paginate @entries, :params => { :search => search_params }