%span.form-inline
  - date_value = date || Time.now.strftime('%Y/%m/%d')
  = link_to '#', class: 'btn', id: "animation-date-btn-#{duration}", 'data-date-format' => 'yyyy/mm/dd', 'data-date' => date_value do
    %span.date= date_value
    %span.caret
      
:javascript
  $('#animation-date-btn-#{duration}').datepicker({ autoClose: true, position: 'right' }).on('changeDate', function(ev){
    $('#animation-date-btn-#{duration} .date').text($(this).data('date'));
    top.location = "#{slug_movies_path}/" + $(this).data('date') + '/#{duration}';
    $(this).datepicker('hide')
  });