%h2= "Latest #{@feed.title} animations"
#feed{style:"text-align:center;"}
  - @feed.active_animations.each do |duration|
    .entry
      .title{style:"padding:3px;"}
        %b= "#{duration} day animation for"
        = render 'picker', date: @movies[duration].try(:event_at) || Time.now.to_date, duration: duration
      - if @movies[duration].nil?
        No animations available
      - else
        = render @movies[duration] 
      