.row-fluid
  #sidebar.span3
    = render 'feeds/sidebar'
  #feed.span9{style:"text-align:center;"}
    - if @movie.available? && @movie.valid?
      .entry
        .title{style:"padding:3px;"}
          %b= "#{@movie.title} for"
          = render 'picker', date: @movie.event_at, duration: @movie.duration
        = render @movie
    - else
      .entry
        = render 'generating', movie: @movie
      :javascript
        setTimeout(function(callback){
          $.pjax({ url: '#{feed_movie_url(@feed, @movie)}', container: '#content' });
        }, 3000)
        