#feed
  .row-fluid
    .entry.span12
      - if @movie.available?
        .title
          = @movie.event_at
          = @movie.event_at.yday
          = "(JD#{@movie.event_at.yday})"
  
        %video{style:"max-width:100%", controls:"controls", preload:"auto", poster:@movie.entries.first.try(:file).try(:thumb).try(:url)}
          - if @movie.has_mp4?
            %source{src:@movie.as_mp4, type:"video/mp4"}/
          - if @movie.has_webm?
            %source{src:@movie.as_webm, type:"video/webm"}/ 
          Your browser does not support the video tag
      - elsif @movie.entries.count > 0
        %h1 Please wait while the movie is being generated
        %h2 This page will automatically refresh when the movie is available.
        :javascript
          (function () {
            setTimeout(function() {
              $('#feed').load('#{slug_movie_path(@feed, @movie)}');
            }, 5000)
          })();
      - else
        .alert.alert-error The specified date has no images to animate.
