= form_tag '/search' do
  #sidebar
    %ul.nav.nav-list
      %li.nav-header
        Main Menu
      %li
        = link_to root_url do
          %i.icon-home
          Home
        
      - unless @entries.nil?
        %li.nav-header
          Information
        %li
          Total:
          = @entries.total
      
      %li.nav-header
        / { data: { target: '#feed_list', parent: '#sidebar', toggle: 'collapse' } }
        / %i.icon-chevron-down
        Feeds
      %ul#feeds_list.nav.nav-list
        Select: 
        = link_to 'All', '#', data: { action: 'select-all', target: '#feeds_list :checkbox' }
        \/
        = link_to 'None', '#', data: { action: 'unselect-all', target: '#feeds_list :checkbox' }
        - Feed.all.each do |feed|
          - next unless feed.entries.count > 0
          %label.checkbox
            = check_box_tag "search[feeds][#{feed.id}]", 1, search_checked?(:feeds, feed, feed.show_by_default), class: 'feed'
            = feed.title
            - unless @entries.results.empty?
              .badge.pull-right 
                = @facets[:feed_id][feed.id] || 0
      %li.nav-header
        Sensors
      %ul#sensors_list.nav.nav-list
        Select: 
        = link_to 'All', '#', data: { action: 'select-all', target: '#sensors_list :checkbox' }
        \/
        = link_to 'None', '#', data: { action: 'unselect-all', target: '#sensors_list :checkbox' }
        - Sensor.all.each do |sensor|
          - next unless sensor.feeds.count > 0
          %label.checkbox
            = check_box_tag "search[sensors][#{sensor.id}]", 1, search_checked?(:sensors, sensor, sensor.selected_by_default), class: 'sensor'
            = sensor
            - unless @entries.results.empty?
              .badge.pull-right 
                = @facets[:sensor_id][sensor.id] || 0
      %li.nav-header
        / { data: { target: '#date_selection', parent: '#sidebar', toggle: 'collapse' } }
        / %i.icon-chevron-down
        Date Selection
      %ul#date_selection.nav.nav-list
        %li
          .input-daterange.rangepicker
            = text_field_tag "search[start]", params[:search].try { |s| s[:start] unless s.nil? }, placeholder: 'YYYY/MM/DD', class: 'span5 datepicker'
            %span.add-on to
            = text_field_tag "search[end]", params[:search].try { |s| s[:end] unless s.nil? }, placeholder: 'YYYY/MM/DD', class: 'span5 datepicker', data: { "date-format" => "yyyy/mm/dd"}
          .help-block
            Enter a date range to filter selection, if left blank the date range will be open ended
  .row-fluid
    .span4
    .span4
      = link_to 'Reset', root_url, class: 'btn btn-block'
    .span4
      = submit_tag 'Search', class: 'btn btn-primary btn-block'
  :javascript
    $(".datepicker").datepicker({ autoclose: true, format: 'yyyy/mm/dd' }).on('changeDate', function(e) {
      var picker;
      if($(this).attr('id') == 'search_start') {
        picker = $('#search_end').data('datepicker')
        console.log(picker.date)
        
        if (picker.date && picker.date < e.date) {
          picker.setUTCDate(e.date);
        }
      } else {
        picker = $('#search_start').data('datepicker')
        console.log(picker.date)
        
        if (picker.date && picker.date > e.date) {
          picker.setUTCDate(e.date);
        }
      }
      console.log(picker.date)
    });
    $('[data-action="select-all"]').on('click', function(evt) {
      evt.preventDefault();
      $($(this).data('target')).prop('checked', true);
    });
    $('[data-action="unselect-all"]').on('click', function(evt) {
      evt.preventDefault();
      $($(this).data('target')).removeAttr('checked');
    });