- if jobs.size == 0
  %p.lead= "No #{name} jobs found"
- else
  %table.table.table-stripped
    %thead
      %tr
        %th Next Retry
        %th Retry Count
        %th Queue
        %th Worker
        %th Error
    %tbody
      - jobs.each do |msg|
        %tr
          %td= msg.score.nil? ? '' : Time.at(msg.score)
          %td= msg['retry_count']
          %td= msg['queue']
          %td= msg['class']
          %td= msg['error_message']
          %td
            %nobr
              = link_to 'Retry now', retry_admin_job_path(job_id('retry', msg)), method: 'POST', class: 'btn'
              = link_to 'Delete', admin_job_path(job_id('retry', msg)), method: 'DELETE', class: 'btn btn-danger', data: { confirm: 'Are you sure?' }