!!!5
%html
  %head
    %title GINA Puffin Feeder
    = favicon_link_tag 'puffin.png'
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags 
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-6824535-14']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  %body
    #header
      = render 'layouts/header'
    .navbar.navbar-static-top
      .navbar-inner
        %ul.nav
          %li
            = link_to admin_feeds_path do
              Feeds
          %li
            = link_to '#' do
              Users
          %li
            = link_to admin_sensors_path do
              Sensors
          %li
            = link_to admin_queues_path do
              Queues
    #content
      .row-fluid
        .span12
          = flash_messages
          = yield
    #footer.row
      = render 'layouts/footer'
