!!!5
%html
  %head
    %title GINA Puffin Feeder
    = favicon_link_tag 'puffin.png'
    = stylesheet_link_tag "application", :media => "all"
    = auto_discovery_link_tag(:rss, slug_path(@feed, :xml), :title=>"#{@feed.title} GeoRSS feed") unless @feed.nil?
    =# link_tag(:href=>feeds_path(@feed), :type => "application/atom+xml", :rel=> "alternate", ) unless @feed.nil?
    = javascript_include_tag "application"
    = csrf_meta_tags 
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-6824535-14']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  %body
    #header
      = render 'layouts/header'
    / .container
    #content
      = flash_messages
      = yield
    #footer.row
      = render 'layouts/footer'
      = session[:user_id]
      = current_user.name if signed_in?