!!!5
%html
  %head
    %title GINA Feeder
    = stylesheet_link_tag 'screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'print.css', :media => 'print'
    /[if lt IE 8]
      = stylesheet_link_tag 'ie.css', :media => 'screen, projection'
    = stylesheet_link_tag "application", :media => "all"
    = auto_discovery_link_tag(:rss, slug_path(@feed, :xml), :title=>"#{@feed.title} GeoRSS feed") unless @feed.nil?
    =# link_tag(:href=>feeds_path(@feed), :type => "application/atom+xml", :rel=> "alternate", ) unless @feed.nil?
    = javascript_include_tag "application"
    = csrf_meta_tags 
  %body.two-col.bp
    #container
      #header
        #gina_logo
          %span.gina GINA
          %span Feeder
        #nav-menu
          %ul
            %li= link_to 'Home', '/'
            %li= link_to 'Login', '#'
      #sidebar
        #search
          = render 'feeds/search'
        #list
          %h3 Available Feeds
          %ul
            - Feed.all.each do |feed|
              %li
                = feed.title
                %ul.links
                  %li
                    = link_to 'Current Image', slug_entry_path(feed, 'current')
                    |
                    = link_to 'All Images', slug_path(feed)
      #content
        = yield
      #footer
        #uaf_logo= link_to image_tag('uaf_logo.png'), 'http://seaice.alaska.edu/gi', :target => :_blank
        #gina_logo= link_to image_tag('gina_powered.png'), 'http://www.gina.alaska.edu', :target => :_blank
