!!!5
%html
  %head
    %title Feeder
    = stylesheet_link_tag 'screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'print.css', :media => 'print'
    /[if lt IE 8]
      = stylesheet_link_tag 'ie.css', :media => 'screen, projection'
    = stylesheet_link_tag "application", :media => "all"
    = auto_discovery_link_tag(:atom, feed_path(@feed, :georss), :title=>"#{@feed.title} GeoRSS feed") unless @feed.nil?
    =# link_tag(:href=>feeds_path(@feed), :type => "application/atom+xml", :rel=> "alternate", ) unless @feed.nil?
    = javascript_include_tag "application"
    = csrf_meta_tags 
  %body.two-col.bp
    #container
      #header
        %h1 GINA Feeder
        #nav-menu
          %ul
            %li= link_to 'Home', '/'
            %li= link_to 'Login', '#'
      #sidebar
        #search
          = render 'feeds/search'
        #list
          %h3 Available Feeds
          %ul
            - Feed.all.each do |feed|
              %li= link_to feed.title, slug_path(feed)
      #content
        = yield
      #footer
        Powered by GINA